footer{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100px;
    background-color: #111111;
    bottom: 0px;
    left: 0px;
    padding: 25px 0 0 80px;
    display: flex;
    margin: 60px 0 0 0;
}

.logo{
    width: 58px;
}

footer div{
    display: flex;
}

