
  @media (min-width: 768px) {
    .modal{
      display: none;
    }
    .close{
      display: none;
    }
  }

@media (max-width: 768px) {
  .modal {
      width: 100vw;
      height: 345px;
      text-align: center;
      display: visible;
      margin: 0 auto;
      justify-content: center;
      background-color: #fff;
      border-radius: 0px 0px 20px 20px;
     -webkit-border-radius: 0px 0px 20px 20px;
     -moz-border-radius: 0px 0px 20px 20px;
     -ms-border-radius: 0px 0px 20px 20px;
     -o-border-radius: 0px 0px 20px 20px;
  }
  .modal li{
    font-size: 32px;
    margin-top: 18px;
    font-weight: bold;
  }
   .close{
     display: visible;
     position: absolute;
     width: 36px;
     top: 270px;
     margin-right: 10px;
     text-align: center;
   }

   .modal-pt{
     position: absolute;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     top: 0;
     z-index: 99;
     
     
}

  }